<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<h2>Predictions for Medical Claim</h2>
		</div>

		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Data Here</p>

        Age  
            <input type="text" name="fname" size="25"/>  
            <br/>
        BMI 
            <input type="text" name="lname" size="25"/>  
            <br />  
        Children  
            <input type="text" name="pword" size="25" />  
            <br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>
	

</body>
</html>